<h1>Welcome to the <%= @habit.name() %> page</h1>

<div class="col-md-8">

<h2>Message Board</h2>
</div>

<div class="col-md-4">

<h3>Users</h3>


<% @habit.users.each do |user| %>

<ul>
<li> <a href="/user/<%= user.id %>"><%= user.name %></li>
</ul>
<% end %>

</div>

<h2>Relevant Articles</h2>

<form id="form_id" action="/habits/<%= @habit.id %>/update" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="article">Add Relevant article for <%= @habit.name() %></label>
    <input type="text" name="article">
  <button name="submit">Add Article</button>
</form>

<ul>
  <li>  <a href="<%= @habit.article %>"><%= @habit.article %></a></li>

</ul>

<form action="/habits/<%= @habit.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" id="habit_id" name="habit" value="<%= @habit.id %>">
  <button class="btn btn-danger btn-sm" type="submit">Delete Habit</button>
</form>

<form action="/habits/<%= @habit.id %>/update" method="post"></a>
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="habit_name">
  <button name="submit">Update User</button>
</form>


  <form id="add_user" action="/habits/<%= @habit.id %>/users/new" method="post">
    <label for="user_list">Add a User</label>
    <select id="user_id" name="user_id">
      <% @users.each do |user| %>
      <option value='<%= user.id %>'><%= user.name %></option>
      <% end %>
    </select>
    <button class='btn btn-success btn-sm' type='submit'>Submit</button>
  </form>
